<!DOCTYPE html>
<html>
  <head>
    <% include ../../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../../static/partials/navbar.ejs %>

    <main class="dashboard-pages">
      <h1><%= currentUser.firstName %> <%= currentUser.lastName %></h1>
      <p><%= currentUser.email %></p>
    </main>
  </body>
</html>
