<!DOCTYPE html>
<html>
  <head>
    <% include ../../static/partials/head.ejs %>
  </head>
  <body>

    <main class="main-container">
      <div class="sidebar">
        <div class="logo">hellocoptr</div>
        <h2>Welcome back!</h2>
        <a class="button button-secondary" href="#">sign in</a>
      </div>
      <div class="main-content">

        <h1 class="signup-title">We are going to be such great friends</h1>

        <form action="/admin/users" method="post" class="signup-form">

          <% include ../../static/partials/messages.ejs %>

          <div class="text-input">
            <input type="text" name="firstName" id="firstName" required>
            <label for="firstName">first name</label>
          </div>

          <div class="text-input">
            <input type="text" name="lastName" id="lastName" required>
            <label for="lastName">last name</label>
          </div>

          <div class="text-input">
            <input type="email" name="email" id="email" required>
            <label for="email">email</label>
          </div>

          <div class="text-input">
            <input type="password" name="password" id="password" required>
            <label for="password">password</label>
            <small>password must be at least 6 characters</small>
          </div>

          <button type="submit" class="button button-primary signup-submit">sign up</button>
        </form>
      </div>

    </main>

  </body>
</html>
