<nav>
  <div class="navbar">
    <a href="/admin" class="logo">hellocoptr</a>
    <div>
      <ul class="nav-items">
        <li>
          <a href="#">Company</a>
        </li>
        <li>
          <a href="#">Employees</a>
        </li>
        <li>
          <a href="#">Visitors</a>
        </li>
        <li>|</li>
        <li>
          <a href="#"><%= currentUser.firstName %></a>
        </li>
        <li>
          <a href="/admin/users/sign_out">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
