<!DOCTYPE html>
<html>
  <head>
    <% include ../../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../../static/partials/navbar.ejs %>

    <main class="dashboard-pages">
      <form action="/admin/company/<%= company.id %>/update" method="post" class="signup-form">

        <% include ../../static/partials/messages.ejs %>

        <div class="input-group">
          <input type="text" name="name" id="companyName" value="<%= company.name %>" required>
          <label for="companyName">company name</label>
        </div>

        <button type="submit" class="button button-primary signup-submit">save</button>
      </form>
    </main>

    <% include ../../static/partials/form_scripts.ejs %>
    
  </body>
</html>
