

<!DOCTYPE html>
<html>
  <head>
    <% include ../../static/partials/head.ejs %>
  </head>
  <body>

    <main class="main-container">
      <div class="main-content">

        <h1 class="signup-title">We are going to be such great friends</h1>
        <p>What's the name of your company?</p>

          <form action="/admin/company/create" method="post" class="signup-form">

            <% include ../../static/partials/messages.ejs %>

            <div class="text-input">
              <input type="text" name="name" id="companyName" required>
              <label for="companyName">company name</label>
            </div>

            <button type="submit" class="button button-primary signup-submit">done</button>
        </form>

      </div>

    </main>

  </body>
</html>
