<!DOCTYPE html>
<html lang="en" dir="ltr">

  <% include ./partials/head.ejs %>

  <body>
    <h1>Welcome to hellocoptr</h1>
    <p>We are a reception sign in serve to help streamline and manage all your company's visitors!</p>
  </body>
</html>
