<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body class="dashboard">
      <% include ../static/partials/navbar.ejs %>

      <main class="dashboard-content">
        <h1>Hi again, <%= currentUser.firstName %></h1>
        <h2>Who would you like to check out today?</h2>
        <div class="dashboard-links">
          <a href="#">company</a>
          <a href="#">employees</a>
          <a href="#">visitors</a>
        </div>
      </main>

  </body>
</html>
