
<!DOCTYPE html>
<html>
  <head>
    <% include ../../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../../static/partials/navbar.ejs %>

    <main class="dashboard-pages">
      <form action="/admin/employees/<%= employee.id %>/update" method="post" class="signup-form">

        <% include ../../static/partials/messages.ejs %>

        <div class="text-input">
          <input type="text" name="firstName" id="firstName" value="<%= employee.firstName %>" required>
          <label for="firstName">first name</label>
        </div>

        <div class="text-input">
          <input type="text" name="lastName" id="lastName" value="<%= employee.lastName %>" required>
          <label for="lastName">last name</label>
        </div>

        <div class="text-input">
          <input type="email" name="email" id="email" value="<%= employee.email %>"required>
          <label for="email">email</label>
        </div>

        <button type="submit" class="button button-primary signup-submit">save</button>
      </form>
    </main>
  </body>
</html>
