<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <main class="main-container">
      <div class="main-content full-page-form">
        <h1>Check In</h1>
        <form action="/checkin/visitors/create" method="post" class="signup-form">

          <% include ../static/partials/messages.ejs %>

          <div class="input-group">
            <input type="text" name="firstName" id="firstName" required>
            <label for="firstName">first name <span class="required">*</span></label>
          </div>

          <div class="input-group">
            <input type="text" name="lastName" id="lastName" required>
            <label for="lastName">last name <span class="required">*</span></label>
          </div>

          <div class="input-group">
            <input type="text" name="company" id="company">
            <label for="company">company</label>
          </div>

          <div class="input-group">
            <input type="email" name="email" id="email" required>
            <label for="email">email <span class="required">*</span></label>
          </div>

          <div class="input-group">
            <input type="tel" name="phone" id="phone">
            <label for="phone">phone number</label>
          </div>

          <div class="input-group">
            <input type="text" name="employee" id="employee" list="employees-list" required>
            <label for="employee">who are you here to see? <span class="required">*</span></label>
            <datalist id="employees-list">
              <% employees.forEach((employee) => { %>
                <option data-value="<%= employee.id %>"><%= employee.firstName %> <%= employee.lastName %></option>
              <% }) %>
            </datalist>
            <input type="hidden" name="employeeId" id="employee-hidden">
          </div>

          <p class="required">* required</p>

          <button type="submit" class="button button-primary signup-submit">check in</button>
        </form>
      </div>
    </main>

    <script>
      document.querySelector('input[list]').addEventListener('input', function(e) {
        var input = e.target,
          list = input.getAttribute('list'),
          options = document.querySelectorAll('#' + list + ' option'),
          hiddenInput = document.getElementById(input.id + '-hidden'),
          inputValue = input.value;

        hiddenInput.value = inputValue;

        for(var i = 0; i < options.length; i++) {
          var option = options[i];

          if(option.innerText === inputValue) {
            hiddenInput.value = option.getAttribute('data-value');
            break;
          }
        }
      });
    </script>

    <% include ../static/partials/form_scripts.ejs %>

  </body>
</html>
