<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <main>
      <h1>Check in successful!</h1>
    </main>

    <script>
      window.setTimeout(function(){
        window.location.href = "/checkin/welcome";
      }, 5000);
    </script>
  </body>
</html>
