<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main>
      <h1>Welcome to <%= company.name %></h1>
      <a href="/checkin/form" class="checkin-link">check in here</a>
    </main>
  </body>
</html>
